<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Three playgorund</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="{{projectName}}"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="{{projectName}}"><link rel="icon" type="image/png" sizes="32x32" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/favicon-16x16.png"><link rel="shortcut icon" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/favicon.ico"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-320x460.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-640x920.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-640x1096.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-750x1294.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-1182x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-1242x2148.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-748x1024.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-768x1004.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-1496x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="icons-5b1f36bc41ab31f5b801d48ba1d65781/apple-touch-startup-image-1536x2008.png"><link href="styles.738e896b3832d727a2c6.css" rel="stylesheet"></head>
<body>
    <div class="wrapper">
        <div class="container" id="container">
            LOADING...
        </div>
        <div class="controls">
          <label>Filter bars by value:
              <span  id="minValue">min: 0</span>
              <span  id="maxValue">max: 100</span>
          </label>
          <div id="slider-range" type="range" class="filter-sliders u_margin_top-tiny"></div>
          <div class="form-setings">
            <form id="form">
              <div class="days u_float-left u_width-50pct">
                <input class="dayCheckBox" type="checkbox" value="monday" checked> Monday<br>
                <input class="dayCheckBox" type="checkbox" value="tuesday" checked> Tuesday<br>
                <input class="dayCheckBox" type="checkbox" value="wednesday" checked> Wendsday<br>
                <input class="dayCheckBox" type="checkbox" value="thursday" checked> Thursday<br>
                <input class="dayCheckBox" type="checkbox" value="friday" checked> Friday<br>
              </div>
              <div class="hours u_float-left u_width-50pct">
                <input class="hourCheckBox" type="checkbox" value="8" checked> 08h<br>
                <input class="hourCheckBox" type="checkbox" value="10" checked> 10h<br>
                <input class="hourCheckBox" type="checkbox" value="12" checked> 12h<br>
                <input class="hourCheckBox" type="checkbox" value="14" checked> 14h<br>
                <input class="hourCheckBox" type="checkbox" value="16" checked> 16h<br>
                <input class="hourCheckBox" type="checkbox" value="18" checked> 18h<br>
                <input class="hourCheckBox" type="checkbox" value="20" checked> 20h<br>
                <input class="hourCheckBox" type="checkbox" value="22" checked> 22h<br>
              </div>
              <div class="u_clearfix"></div>
              <hr>
              <div class="graphControl u_float-left u_width-50pct">
                <label for="rotateScene"> Rotate Scene</label>
                <input id="rotateScene" class="rotateScene" type="checkbox" value="on"><br>
                <label for="generateInterval"> Generate random data</label>
                <input id="generateInterval" class="generateInterval" type="checkbox" value="on"><br>
              </div>
              <div class="graphControl u_float-left u_width-50pct">
                <label for="heightGrid">Height grids visible</label>
                <input id="heightGrid" class="heightGrid" type="checkbox" value="on" checked><br>
                <hr>
                <label for="adjustableGrid">Adjustable grid visible</label>
                <input id="adjustableGrid" class="adjustableGrid" type="checkbox" value="on" ><br>
                <label for="adjustableGrid">Grid height: <span  id="gridHeight">0</span></label>
                <div id="adjustableGridslider-range" type="range" class="adjustableGridslider u_margin_top-tiny"></div>
              </div>
              <div class="u_clearfix"></div>
            </form>
          </div>
        </div>
        <div class="u_clearfix"></div>
    </div>
    <div class="tooltip"></div>
    <script>
        $( function() {
            $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 100,
            values: [ 0, 100 ],
            slide: function( event, ui ) {
                $('#minValue').html('min: ' + ui.values[0]);
                $('#maxValue').html('max: ' + ui.values[1]);
                window.mythree.filterBars(ui.values[0],ui.values[1]);
            }
          });
            $( "#adjustableGridslider-range" ).slider({
            min: 0,
            max: 100,
            values: [ 0 ],
            slide: function( event, ui ) {
                $('#gridHeight').html(ui.values[0]);
                window.mythree.heightGrid.setGridHeight(ui.values[0]);
            }
          });
        });
    </script>
<script type="text/javascript" src="main.20bddc3679d775c25ddf.js"></script></body>
</html>
